<div class="container-xl">
    <div class="row mt-5 mb-3">
        <div class="col-md-6 d-flex flex-column justify-content-end">
            <div class="fs_12 col-12">ENHANCE YOUR EXPERIENCE WITH</div>
            <div class="section-title"><span class="text-danger">NEW</span> ARRIVALS</div>
        </div>
        <div class="col-md-6 col-12">
            <div class="ronixa">RONIXA</div>
        </div>
    </div>
</div>
<div class="cards container-xl d-flex justify-content-between">
    <div class="product-card">
        <app-product-card></app-product-card>
    </div>
    <div class="product-card">
        <app-product-card></app-product-card>
    </div>
    <div class="product-card">
        <app-product-card></app-product-card>
    </div>
    <div class="product-card">
        <app-product-card></app-product-card>
    </div>
    <div class="product-card">
        <app-product-card></app-product-card>
    </div>
    <div class="product-card">
        <app-product-card></app-product-card>
    </div>
    <div class="product-card">
        <app-product-card></app-product-card>
    </div>
    <div class="product-card">
        <app-product-card></app-product-card>
    </div>
    <div class="product-card">
        <app-product-card></app-product-card>
    </div>
    <div class="product-card">
        <app-product-card></app-product-card>
    </div>
    <div class="product-card">
        <app-product-card></app-product-card>
    </div>
    <div class="product-card">
        <app-product-card></app-product-card>
    </div>
    <div class="product-card">
        <app-product-card></app-product-card>
    </div>
</div>