<div class="container-xl">
    <div class="row mt-5 mb-3">
        <div class="col-6 d-flex flex-column justify-content-end">
            <div class="fs_12">ENHANCE YOUR EXPERIENCE WITH</div>
            <div class="" style="font-size: 40px;"><span class="text-danger">NEW</span> ARRIVALS</div>
        </div>
        <div class="col-6">
            <div style="font-size: 100px; color: #f7f7f7; line-height: 1;">RONIXA</div>
        </div>
    </div>
</div>
<div class="cards container-xl d-flex justify-content-between">
    <div class="product-card">
        <div class="card-img">
            <img src="assets/media/airpod-01-550x800.jpg " alt="" class="w-100" />
        </div>
        <p class="text-center mt-2">Airpod</p>
        <p class="text-danger text-center">$0.00</p>
    </div>
    <div class="product-card">
        <div class="card-img">
            <img src="assets/media/airpod-01-550x800.jpg " alt="" class="w-100" />
        </div>
        <p class="text-center mt-2">Airpod</p>
        <p class="text-danger text-center">$0.00</p>
    </div>
    <div class="product-card">
        <div class="card-img">
            <img src="assets/media/airpod-01-550x800.jpg " alt="" class="w-100" />
        </div>
        <p class="text-center mt-2">Airpod</p>
        <p class="text-danger text-center">$0.00</p>
    </div>
    <div class="product-card">
        <div class="card-img">
            <img src="assets/media/airpod-01-550x800.jpg " alt="" class="w-100" />
        </div>
        <p class="text-center mt-2">Airpod</p>
        <p class="text-danger text-center">$0.00</p>
    </div>
    <div class="product-card">
        <div class="card-img">
            <img src="assets/media/airpod-01-550x800.jpg " alt="" class="w-100" />
        </div>
        <p class="text-center mt-2">Airpod</p>
        <p class="text-danger text-center">$0.00</p>
    </div>
    <div class="product-card">
        <div class="card-img">
            <img src="assets/media/airpod-01-550x800.jpg " alt="" class="w-100" />
        </div>
        <p class="text-center mt-2">Airpod</p>
        <p class="text-danger text-center">$0.00</p>
    </div>
    <div class="product-card">
        <div class="card-img">
            <img src="assets/media/airpod-01-550x800.jpg " alt="" class="w-100" />
        </div>
        <p class="text-center mt-2">Airpod</p>
        <p class="text-danger text-center">$0.00</p>
    </div>
    <div class="product-card">
        <div class="card-img">
            <img src="assets/media/airpod-01-550x800.jpg " alt="" class="w-100" />
        </div>
        <p class="text-center mt-2">Airpod</p>
        <p class="text-danger text-center">$0.00</p>
    </div>


</div>