<div class="aside p-3 overflow-y-auto"
    [ngClass]="{show : (globalVar.isAside | async) , hide : !(globalVar.isAside | async) }">
    <div class="fs_14 mt-3 fw_400 color_roxina">
        <div class="d-flex flex-column gap-3 p-3 rounded-3 bg_milky">
            <a href="#" class="red_link">Watch Band (6)</a>
            <a href="#">Screen Protector (6)</a>
            <a href="#">Case Cover (6)</a>
            <a href="#">Charger (6)</a>
            <a href="#">Headphone (6)</a>
            <a href="#">Other (6)</a>
        </div>
        <div class="p-4 bg_milky mt-4 rounded-3">
            <img src="assets/media/compaq_presario-182x182.jpg" alt="" class="w-100" />
        </div>
    </div>
</div>