<div class="footer">
    <div class="container-xl py-2 ">
        <div class="d-md-flex justify-content-between align-items-center flex-wrap gap-4 py-4 px-2 smm">
            <ul class="d-flex gap-4 fs_18">
                <li><a href="#">About Ronixa</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of use</a></li>
                <li><a href="#">Warranty</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            <ul class="d-flex align-items-center justify-content-center mt-4 mt-md-0 text-secondary">
                <li>
                    <a href="#">
                        <div class=" ps_rel icon-wrapper me-3">
                            <i class="fa-brands fa-facebook icon"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="ps_rel icon-wrapper me-3">
                            <i class="fa-brands fa-instagram icon"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="ps_rel icon-wrapper me-3">
                            <i class="fab fa-whatsapp icon"></i>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="py-4 text-center smm">
            <p class="fs_20 fw_600 color_logo ">RONIXA</p>
            <div class="d-flex justify-content-center">
                <p class="text-muted col-6 fs_14">Ronixa is a private family business that founded in 1999 and working
                    in
                    field of mobile phones and
                    accessories.
                    The brand is known for mobile phones and its accessories.
                </p>
            </div>
            <div class="d-flex justify-content-center pt-2">
                <ul class="d-flex gap-4 fs_18">
                    <li>
                        <a href="">Watch Band</a>
                    </li>
                    <li>
                        <a href="">Screen Protector</a>
                    </li>
                    <li>
                        <a href="">Case Cover</a>
                    </li>
                    <li>
                        <a href="">Charger Headphones</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="py-4">
            <p class="text-center fs_14">RONIXA 2023 CREATED by Retrina GROUP.</p>
        </div>
    </div>
</div>