<div class="ps_stiky bg-white" style="height: 92px;">
    <div class="container-xl d-flex justify-content-between align-items-center p-3"  *ngIf="isSearchBar">
        <div class="d-xl-none c_pointer" (click)="showMenu()">
            <span class="stik"></span>
            <span class="stik"></span>
            <span class="stik"></span>
        </div>
        <img src="assets/media/ronixa_brand_logo.png" alt="" />

        <div class="d-xl-none fs_18 c_pointer" (click)="showCardShopping()">
            <div class="ps_rel me-3">
                <i class="bi bi-bag fs_20"></i>
                <span class="notif">0</span>
            </div>        
        </div>

        <ul class="gap-4 fs_14 d-none d-xl-flex fw_600">
            <li><a href="#">WATCH BAND</a></li>
            <li><a href="#">CASE COVER</a></li>
            <li><a href="#">CHARGER</a></li>
            <li><a href="#">HEADPHONES</a></li>
        </ul>
        <ul class="gap-4 fs_18 d-none d-xl-flex">
            <li (click)="showSearchInput()">
                <i class="bi bi-search fs_18"></i>
            </li>
            <li><i class="bi bi-person fs_24"></i>
                <div class="sub-div pt-3">
                    <ul class="sub-ul mt-1 p-3">
                        <li class="fs_14 text-secondary mb-3">
                            <a href="#">Register</a>
                        </li>
                        <li class="fs_14 text-secondary">
                            <a href="#">Login</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <i class="bi bi-suit-heart fs_20"></i>
                <span class="notif">0</span>
            </li>
            <li (click)="showCardShopping()"    >
                <i class="bi bi-bag fs_20"></i>
                <span class="notif">0</span>
            </li>
            <li class="ms-3">$ Currency
                <div class="sub-div pt-3">
                    <ul class="sub-ul mt-1 p-3">
                        <li class="fs_14 text-secondary mb-3">
                            <a href="#">Euro</a>
                        </li>
                        <li class="fs_14 text-secondary mb-3">
                            <a href="#">Pound Sterling</a>
                        </li>
                        <li class="fs_14 text-secondary mb-3">
                            <a href="#">US Dollars</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li><img src="assets/media/en-gb.png" alt="" /> Language
                <div class="sub-div pt-3" style="right: 0;">
                    <ul class="sub-ul mt-1 p-3">
                        <li class="fs_14 text-secondary mb-3">
                            <a href="#">Russian</a>
                        </li>
                        <li class="fs_14 text-secondary mb-3">
                            <a href="#">English</a>
                        </li>
                        <li class="fs_14 text-secondary mb-3">
                            <a href="#">Kyrgyz</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="container-xl d-flex justify-content-center align-items-center h-100"  *ngIf="!isSearchBar">
        <div class="col-11 d-flex align-items-center">
            <div class="border rounded-3 w-100">
                <input type="text" name="search" placeholder="Search" class="search_input fs_14 rounded-3 border-0 p-2  w-100" />
            </div>
            <i class="fa fa-search fs_22 ms-3"></i>
            <i class="fa fa-close ms-3" (click)="showSearchInput()"></i>
        </div>
    </div>
</div>