<div class="container-xl mb-3">
    <div class="bg_milky p-4 rounded-3 ">
        <app-tabs [control]="tabControl" [tab_options]="tab_options"></app-tabs>
        <div>
            <h2 class="text-center mt-3">Safety</h2>
            <h2 class="text-center product-section-title">Innovation <br>
                we hope you'll never need.</h2>
            <div class="text-center pt-4">
                <img src="assets/media/safety_hero__e7q6g06l0pu2_large-min.png" alt="" class="retrina-img" />
            </div>

        </div>
    </div>
</div>