<div class="best-sellers">
    <div class="container-xl">
        <div class="d-flex">
            <div class="col-6 border">
                <img src="assets/media/airpod-02-desktop.png" alt="" class="img-one" />
            </div>
            <div class="col-6 pt-5 text-secondary">
                <div class="fs_20 ">Enhance your experience with</div>
                <div class="fs_48 fw_600 text-dark"><span class="color_logo">RONIXA</span> AIRPODS</div>
                <div class="fs_16 mt-3">Ronixa Brand is a private family business that founded in 1999 and working in field of mobile
                    phones and accessories. </div>
            </div>
        </div>
    </div>
</div>