<div class="best-sellers">
    <div class="container-xl">
        <div class="d-flex">
            <div class="col-6">
                <img src="assets/media/airpod-02-desktop.png" alt="" class="img-one" />
            </div>
            <div class="col-6 pt-5 text-secondary">
                <div class="fs_20 ">Enhance your experience with</div>
                <div class="fs_48 fw_600 text-dark"><span class="color_logo">RONIXA</span> AIRPODS</div>
                <div class="fs_16 mt-3">Ronixa Brand is a private family business that founded in 1999 and working in
                    field of mobile
                    phones and accessories.
                </div>
                <div class="ms-5">
                    <div class="d-flex justify-content-around align-items-center mt-5">
                        <div class="d-flex gap-3">
                            <i class="bi bi-clock text-danger"></i>
                            <div>High Durability</div>
                        </div>
                        <div class="d-flex gap-3">
                            <i class="bi bi-gem text-danger"></i>
                            <div>High Durability</div>
                        </div>
                        <div class="d-flex gap-3">
                            <i class="bi bi-aspect-ratio text-danger"></i>
                            <div>Standard Size</div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-5">
                        <div class="d-flex gap-3">
                            <i class="bi bi-hammer text-danger"></i>
                            <div>High Durability</div>
                        </div>
                        <div class="d-flex gap-3">
                            <i class="bi bi-palette text-danger"></i>
                            <div>High Durability</div>
                        </div>
                        <div class="d-flex gap-3">
                            <i class="bi bi-lightning text-danger"></i>
                            <div>Standard Size</div>
                        </div>
                    </div>
                    <div class="d-flex gap-5 mt-5">
                        <button type="button" class="view-all">VIEW ALL</button>
                        <button type="button" class="contact-us">CONTACT US</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="best-sellers">
    <div class="container-xl">
        <div class="d-flex">
            <div class="col-6 pt-5 text-secondary">
                <div class="border-end">
                    <div class="fs_20 ">Enhance your experience with</div>
                    <div class="fs_48 fw_600 text-dark"><span class="color_logo">RONIXA</span> AIRPODS</div>
                    <div class="fs_16 mt-3">Ronixa Brand is a private family business that founded in 1999 and working in
                        field of mobile
                        phones and accessories.
                    </div>
                </div>
                <div class="">
                    <div class="d-flex justify-content-between align-items-center mt-5">
                        <div class="d-flex gap-3">
                            <i class="bi bi-clock text-danger"></i>
                            <div>High Durability</div>
                        </div>
                        <div class="d-flex gap-3">
                            <i class="bi bi-gem text-danger"></i>
                            <div>High Durability</div>
                        </div>
                        <div class="d-flex gap-3">
                            <i class="bi bi-aspect-ratio text-danger"></i>
                            <div>Standard Size</div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-5">
                        <div class="d-flex gap-3">
                            <i class="bi bi-hammer text-danger"></i>
                            <div>High Durability</div>
                        </div>
                        <div class="d-flex gap-3">
                            <i class="bi bi-palette text-danger"></i>
                            <div>High Durability</div>
                        </div>
                        <div class="d-flex gap-3">
                            <i class="bi bi-lightning text-danger"></i>
                            <div>Standard Size</div>
                        </div>
                    </div>
                    <div class="d-flex gap-5 mt-5">
                        <button type="button" class="view-all">VIEW ALL</button>
                        <button type="button" class="contact-us">CONTACT US</button>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <img src="assets/media/phone.png" alt="" class="img-one" />
            </div>
        </div>
    </div>
</div>