<div class="best-sellers">
    <div class="container-xl">
        <div class="d-flex flex-wrap">
            <div class="col-lg-6 col-12 text-center">
                <img src="assets/media/airpod-02-desktop.png" alt="" class="img-one" />
            </div>
            <div class="col-lg-6 col-12 pt-5 text-secondary">
                <div class="fs_20 ">Enhance your experience with</div>
                <div class="fs_48 section-title text-dark"><span class="color_logo">RONIXA</span> AIRPODS</div>
                <div class="fs_16 mt-3">Ronixa Brand is a private family business that founded in 1999 and working in
                    field of mobile
                    phones and accessories.
                </div>
                <div class="ms-md-5 ms-md-5 ms-lg-0">
                    <div class="row gy-5 justify-content-between justify-content-md-around align-items-center mt-0">
                        <div class="d-flex col-6 col-md-4 gap-3">
                            <i class="bi bi-clock text-danger"></i>
                            <div>High Durability</div>
                        </div>
                        <div class="d-flex col-6 col-md-4 gap-3">
                            <i class="bi bi-gem text-danger"></i>
                            <div>High Durability</div>
                        </div>
                        <div class="d-flex col-6 col-md-4 gap-3">
                            <i class="bi bi-aspect-ratio text-danger"></i>
                            <div>Standard Size</div>
                        </div>
                        <div class="d-flex col-6 col-md-4 gap-3">
                            <i class="bi bi-hammer text-danger"></i>
                            <div>High Durability</div>
                        </div>
                        <div class="d-flex col-6 col-md-4 gap-3">
                            <i class="bi bi-palette text-danger"></i>
                            <div>High Durability</div>
                        </div>
                        <div class="d-flex col-6 col-md-4 gap-3">
                            <i class="bi bi-lightning text-danger"></i>
                            <div>Standard Size</div>
                        </div>
                    </div>
                    <div class="d-flex gap-4 gap-md-5 mt-5">
                        <button type="button" class="view-all">VIEW ALL</button>
                        <button type="button" class="contact-us">CONTACT US</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="best-sellers">
    <div class="container-xl">
        <div class="d-flex flex-wrap">
            <div class="col-lg-6 col-12 pt-1 pt-lg-5 text-secondary">
                <div class="border-end">
                    <div class="fs_20 ">Enhance your experience with</div>
                    <div class="fs_48 section-title text-dark"><span class="color_logo">RONIXA</span> AIRPODS</div>
                    <div class="fs_16 mt-3">Ronixa Brand is a private family business that founded in 1999 and working in
                        field of mobile
                        phones and accessories.
                    </div>
                </div>
                <div class="ms-md-5 ms-lg-0">
                    <div class="row gy-5 justify-content-between justify-content-lg-around align-items-center mt-0">
                        <div class="d-flex col-6 col-md-4 gap-3">
                            <i class="bi bi-clock text-danger"></i>
                            <div>High Durability</div>
                        </div>
                        <div class="d-flex col-6 col-md-4 gap-3">
                            <i class="bi bi-gem text-danger"></i>
                            <div>High Durability</div>
                        </div>
                        <div class="d-flex col-6 col-md-4 gap-3">
                            <i class="bi bi-aspect-ratio text-danger"></i>
                            <div>Standard Size</div>
                        </div>
                        <div class="d-flex col-6 col-md-4 gap-3">
                            <i class="bi bi-hammer text-danger"></i>
                            <div>High Durability</div>
                        </div>
                        <div class="d-flex col-6 col-md-4 gap-3">
                            <i class="bi bi-palette text-danger"></i>
                            <div>High Durability</div>
                        </div>
                        <div class="d-flex col-6 col-md-4 gap-3">
                            <i class="bi bi-lightning text-danger"></i>
                            <div>Standard Size</div>
                        </div>
                    </div>
                    <div class="d-flex gap-4 gap-md-5 mt-5">
                        <button type="button" class="view-all">VIEW ALL</button>
                        <button type="button" class="contact-us">CONTACT US</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 mt-3 mt-lg-0 text-center">
                <img src="assets/media/phone.png" alt="" class="img-one" />
            </div>
        </div>
    </div>
</div>