<div class="why">
    <div class="container-xl px-2">
        <div class="text-center fs_20 text-secondary">
            Enhance your experience with
        </div>
        <div class="text-center section-title mt-1">
            WHY CHOOSE <span class="color_logo">RONIXA</span> ?
        </div>
        <div class="d-flex flex-wrap mt-4 fw_400">
            <div class="col-lg-4 col-6 px-3 mb-5">
                <div class="d-flex justify-content-center">
                    <div class="p-5 ps_rel img-wrapper">
                        <img src="assets/media/diamond.png" alt="" class="img" />
                    </div>
                </div>
                <div class="fs_18 fw_600 text-center mt-3">
                    High Quality Products
                </div>
                <div class="fs_14 text-center mt-3">Quality is the first and most important factor for a customer to
                    trust a brand.</div>
            </div>
            <div class="col-lg-4 col-6 px-3 mb-5">
                <div class="d-flex justify-content-center">
                    <div class="p-5 ps_rel img-wrapper">
                        <img src="assets/media/watch.png" alt="" class="img" />
                    </div>
                </div>
                <div class="fs_18 fw_600 text-center mt-3">
                    Trendy and Fashionable
                </div>
                <div class="fs_14 text-center mt-3">Experience the latest trends and fashion with our brand, designed to
                    keep you stylish and on-trend.</div>
            </div>
            <div class="col-lg-4 col-6 px-3 mb-5">
                <div class="d-flex justify-content-center">
                    <div class="p-5 ps_rel img-wrapper">
                        <img src="assets/media/iso.png" alt="" class="img" />
                    </div>
                </div>
                <div class="fs_18 fw_600 text-center mt-3">
                    Standard Size
                </div>
                <div class="fs_14 text-center mt-3">Standard sizing across all our products is our brand's commitment
                    for our customers.</div>
            </div>
        </div>
    </div>
</div>