<app-header></app-header>
<app-breadcrumbs [currentLink]="'category'"></app-breadcrumbs>
<div class="container-xl">
    <div class="row">
        <div class="col-3 d-none d-lg-block p-3 fs_14 fw_400 color_roxina">
            <div class="d-flex flex-column gap-3 p-3 rounded-3 bg_milky">
                <a href="#" class="red_link">Watch Band (6)</a>
                <a href="#">Screen Protector (6)</a>
                <a href="#">Case Cover (6)</a>
                <a href="#">Charger (6)</a>
                <a href="#">Headphone (6)</a>
                <a href="#">Other (6)</a>
            </div>
            <div class="p-4 bg_milky mt-4 rounded-3">
                <img src="assets/media/compaq_presario-182x182.jpg" alt="" class="w-100" />
            </div>
        </div>
        <div class="col-12 col-lg-9 p-3">
            <div class="d-flex flex-wrap bg_milky rounded-3 p-3">
                <div class="col-md-4 col-12 pe-md-2">
                    <a [routerLink]="''" class="d-block bg-white rounded-3 text-center p-3 fs_12">Product Compare (0)</a>
                </div>
                <div class="col-md-4 col-6 px-md-2 pe-2 pe-md-0 mt-3 mt-md-0">
                    <div class="d-flex align-items-center bg-white rounded-3 py-2 px-3 fs_12">
                        <label for="sortby">Sort&nbsp;By:</label>
                        <select id="sortby" class="ms-1 ms-md-3 fs_12 border-0 p-2 bg-white w-75">
                            <option value="1" class="fs_16 p-2">Default</option>
                            <option value="2" class="fs_16 p-2">Default</option>
                            <option value="3" class="fs_16 p-2">Default</option>
                            <option value="4" class="fs_16 p-2">Default</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 col-6 ps-2 mt-3 mt-md-0">
                    <div class="d-flex align-items-center bg-white rounded-3 py-2 px-3 fs_12">
                        <label for="show">Show:</label>
                        <select id="show" class="ms-3 fs_12 border-0 p-2 bg-white w-75">
                            <option value="1" class="fs_16 p-2">15</option>
                            <option value="2" class="fs_16 p-2">25</option>
                            <option value="3" class="fs_16 p-2">50</option>
                            <option value="4" class="fs_16 p-2">100</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-wrap c_gap_3 mt-4">
                <div class="product-card">
                    <app-product-card></app-product-card>
                </div>
                <div class="product-card">
                    <app-product-card></app-product-card>
                </div>
                <div class="product-card">
                    <app-product-card></app-product-card>
                </div>
                <div class="product-card">
                    <app-product-card></app-product-card>
                </div>
                <div class="product-card">
                    <app-product-card></app-product-card>
                </div>
                <div class="product-card">
                    <app-product-card></app-product-card>
                </div>
                <div class="product-card">
                    <app-product-card></app-product-card>
                </div>
            </div>
            <div class="text-md-end color_roxina">
                Showing 1 to 6 of 6 (1 Pages)
            </div>
        </div>
    </div>
</div>
<div class="aslide-toggle" (click)="openAsideCategory()">
    <i class="fa fa-sliders fa-rotate-90"></i>
</div>
<app-footer></app-footer>