

  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="assets/media/1.jpg" class="d-block w-100"  alt="" />
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="assets/media/2.jpg" class="d-block w-100"  alt="" />
      </div>
      <div class="carousel-item"  data-bs-interval="2000">
        <img src="assets/media/3.jpg" class="d-block w-100"  alt="" />
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container-xl p-4">
    <div class="d-flex gap-4">
        <div class="sub-banner p-4 border bg_yel">
            <div class="d-flex flex-column h_100 justify-content-center">
                <div>
                    <p class="fs_12 text-muted">ALL NEW PHONES</p>
                    <p class="fs_30">Case Cover</p>
                    <p class="fs_12 text-muted">VIEW MORE</p>
                </div>
            </div>
        </div>
        <div class="sub-banner p-4 border bg_bl">
            <div class="d-flex flex-column h_100 justify-content-center">
                <div>
                    <p class="fs_12 text-muted">ALL COLORS</p>
                    <p class="fs_30">Headphones</p>
                    <p class="fs_12 text-muted">VIEW MORE</p>
                </div>
            </div>
        </div>
    </div>
  </div>