.shopping-card{
    position: fixed;
    top: 0;
    height: 100vh;
    right: -340px;
    width: 300px;
    background-color: #fff;
    z-index: 11;
    transition: right 0.3s ease-in-out;
}

.show {
    right: 0;
}

.hide {
    right: -340px;
}

.close_btn{
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
}


.choosed-icon{
    width: 50px;
}

.view-card-btn{
    text-align: center;
    padding: 12px 20px;
    background-color: #f7f7f7;
    display: block;
    margin-top: 1rem;
    font-size: 12px;
}

.checkout-btn{
    text-align: center;
    padding: 12px 20px;
    display: block;
    margin-top: 1rem;
    font-size: 12px;
}