.main-menu{
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    background-color: #fff;
    z-index: 11;
    transition: left 0.3s ease-in-out;
}

.show{
    left: 0;
}

.hide{
    left: -300px;
}

.search-field{
    font-size: 14px;
}

.bg-lightgray{
    background-color: #e9e9e9;
}

ul{
    padding-left: 0;
}

li{
    position: relative;
    cursor: pointer;
}

.notif{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #db3340;
    position: absolute;
    top: 14px;
    left: 38px;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.rotate{
    transform: rotate(90deg);
}

.smooth{
    transition: 0.3s;
}